<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Log in required - Hornbill</title>

    <link rel="stylesheet" href="/static/simple-grid.css" />
    <link
      rel="stylesheet"
      href="https://watercss.kognise.dev/dist/light.css"
    />
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body style="max-width: 100vw;">
    <div class="container center">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <h3 style="margin-block-end: 4px;">Hornbill</h3>
          <h1 style="margin-block-end: 15px;">Login Required</h1>
          <a href="/login">
            <button style="">Log in.</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
